/* Add screen styles below */
body {
    background-color: rgb(255, 244, 209);
    font-family: 'Montserrat';
    font-size: 22px;
    padding: 30px;
    margin: 30px;
}

h1 {
    font-weight: 900;
}

#searchButton {
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}


